@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

/* On my own */

#upload-cont {
  max-width: 700px;
  margin: 2rem auto;
}

#upload-inner-cont {
  text-align: center;
  margin-bottom: 2rem;
}

#upload-component {
  display: flex;
  justify-content: space-between;
}

#add-images {
  /* justify-content: center; */
  /* text-align: center; */
  padding-left: 110px;
}

#dropzone-inner {
  width: 300px;
  min-width: 300px;
  height: 240px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropzone-icon {
  font-size: 3rem;
}

#upload-scroll {
  display: flex;
  width: 350px;
  min-width: 350px;
  height: 240px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#scroll-img {
  /* width: 300px; */
  /* min-width: 300px; */
  height: 240px;
  max-height: 240px;
}

#landing-cont {
  width: 75%;
  margin: 3rem auto;
}

#landing-inner {
  text-align: center;
}

#products-list {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#carousel-image {
  width: auto;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  min-width: 183px;
}

.product-card {
  min-width: 183px;
  max-width: 183px;
  /* align-content: center; */
  /* margin-left: 5px;
  margin-right: 5px; */
}

#load-button-cont {
  display: flex;
  justify-content: center;
}

#search-cont {
  display: flex;
  justify-content: flex-end;
  margin: 1rem auto;
}

.post-page {
  width: 100%;
  padding: 3rem 4rem;
}

.product-detail-cont {
  display: flex;
  justify-content: center;
}

.product-info-btn-cont {
  display: flex;
  justify-content: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#cart-cont {
  padding-bottom: 3px;
}

#cart-badge {
  margin-right: -22px;
  color: "#667777";
}

#cart-icon {
  font-size: 30px;
  margin-bottom: 3px;
}

#cart-page {
  width: 85%;
  margin: 3rem auto;
}

#cart-total {
  margin-top: 3rem;
}

#empty-cart-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-image {
  width: 70px;
}

